#page-contato .hero-body {
  background-image: url('../images/contato_bg.jpg');
  background-size: cover;
  background-position: center center;
}

#page-contato .hero-body .columns {
	flex-direction: column;
}

#page-contato .hero-body .columns .columns form {
  margin-bottom: 0 !important;
}

#page-content .hero-body .container .columns .column form .field > button {
	background-color: #3293cb;
}

#page-content .hero-body .container .columns .column form .field > button:hover {
	background-color: #184c6a;
}

#page-contato .hero-body .columns .column:not(.color-group) {
	background-color: rgba(53,82,115,0.9);
	padding: 2rem;
	margin-bottom: 0;
}


#page-contato .hero-body .columns .column h1 {
	text-transform: uppercase;
	font-family: 'MuseoLight', sans-serif;
}

#page-contato .hero-body .columns .column h1,
#page-contato .hero-body .columns .column h2,
#page-contato .hero-body .columns .column p {
	color: white;
}