#corpo-clinico .hero-body .content .title {
	font-family: 'MuseoLight', sans-serif;
	color: white;
	text-transform: uppercase;
}

#corpo-clinico .hero-body .content p {
	color: white;
}

#corpo-clinico .hero-body {
	background-image: url(../images/IV_SITE_CORPO_CLINICO.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#corpo-clinico .more-link {
	display: none;
}

@media screen and (max-width: 800px) {
	#corpo-clinico .hero-body {
		display: initial;
	}
}