#page-historia .hero-body {
	background: url('../images/background-historia.png') no-repeat;
	background-size: cover;
	background-position: center center;
}


#page-historia .hero-body .columns {
	flex-direction: column;
}

#page-historia .hero-body .columns .column:not(.color-group) {
	background-color: rgba(41, 68, 102, 0.88);
	padding: 3rem;
	margin-bottom: 0;
}


#page-historia .hero-body .columns .column h1 {
	text-transform: uppercase;
	font-family: 'MuseoLight', sans-serif;
}

#page-historia .hero-body .columns .column h1,
#page-historia .hero-body .columns .column h3,
#page-historia .hero-body .columns .column p {
	color: white;
}