#page-historia .hero-body {
	background: url('../images/background-historia.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

#page-historia .hero-body {
	padding: 0;
	align-items: stretch;
}

#page-historia .hero-body .columns {
	flex-direction: column;
	margin-bottom: 0;
}

#page-historia .columns .column:not(.color-group) {
	padding: 3.5rem 2rem 0 2rem;
	background-color: white;
	margin-bottom: 0;
	flex: 1 0 auto;
}
#page-historia .columns .column h1 {
	font-family: 'MuseoLight', sans-serif;
}

#page-historia .columns .column h3 {
	font-family: 'MuseoBolder', sans-serif;
}

#page-historia .columns .column h1,
#page-historia .columns .column h3 {
	text-transform: uppercase;
	color: #0074a8;
}